{% extends 'base.html.twig' %}
{%  block body %}
    <div class="container">
        <div class="jumbotron mt-2">
            <h1 class="display-3">Welcome to RENTAMOVIETOOL</h1>
            <p class="lead">You are at the right place.</p>
            <hr class="my-4">
            <h3>You can rent a tool for a shooting from another film technician with an insurance policy securing the precious tool during the rental period.</h3>
            <br>
            <p>Do you need something for your shooting ?</p>
            <p>Do you want to rent a tool to someone? Cameras? Lenses? Rig? Stabilizer? Sound recorder? Mics?</p>
            <p>You name it!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">RENTALS</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Best rentals</h2>

        <div class="row">

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Arri ALEXA LF, <strong>900 dollars / day</strong> <br>
                        <small>Not yet rated</small>
                    </div>
                    <img src="http://placehold.it/600x400" alt="Arri Alexa Mini" style="height: 10em; width=100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Dazzling offer
                        </h4>
                        <p class="card-text">
                            <h3>THE BEAST | ALEXA LF</h3>
                        ARRI's new large-format camera system consists of the ALEXA LF camera, ARRI Signature Prime lenses, LPL lens mount and PL-to-LPL Adapter. Featuring a sensor slightly larger than full frame, the ALEXA LF camera records native 4.5K with ARRI’s best overall image quality. This allows filmmakers to explore the immersive large-format aesthetic while retaining the sensor’s natural colorimetry, pleasing skin tones and stunning capability for HDR workflows. Versatile recording formats, including efficient ProRes and uncompressed, unencrypted ARRIRAW up to 150 fps, encompass all on-set workflow requirements.
                        </p>
                        <a href="#" class="btn btn-secondary">Tell me more!</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Arri ALEXA LF, <strong>900 dollars / day</strong> <br>
                        <small>Not yet rated</small>
                    </div>
                    <img src="http://placehold.it/600x400" alt="Arri Alexa Mini" style="height: 10em; width=100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Dazzling offer
                        </h4>
                        <p class="card-text">
                        <h3>THE BEAST | ALEXA LF</h3>
                        ARRI's new large-format camera system consists of the ALEXA LF camera, ARRI Signature Prime lenses, LPL lens mount and PL-to-LPL Adapter. Featuring a sensor slightly larger than full frame, the ALEXA LF camera records native 4.5K with ARRI’s best overall image quality. This allows filmmakers to explore the immersive large-format aesthetic while retaining the sensor’s natural colorimetry, pleasing skin tones and stunning capability for HDR workflows. Versatile recording formats, including efficient ProRes and uncompressed, unencrypted ARRIRAW up to 150 fps, encompass all on-set workflow requirements.
                        </p>
                        <a href="#" class="btn btn-secondary">Tell me more!</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Arri ALEXA LF, <strong>900 dollars / day</strong> <br>
                        <small>Not yet rated</small>
                    </div>
                    <img src="http://placehold.it/600x400" alt="Arri Alexa Mini" style="height: 10em; width=100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Dazzling offer
                        </h4>
                        <p class="card-text">
                        <h3>THE BEAST | ALEXA LF</h3>
                        ARRI's new large-format camera system consists of the ALEXA LF camera, ARRI Signature Prime lenses, LPL lens mount and PL-to-LPL Adapter. Featuring a sensor slightly larger than full frame, the ALEXA LF camera records native 4.5K with ARRI’s best overall image quality. This allows filmmakers to explore the immersive large-format aesthetic while retaining the sensor’s natural colorimetry, pleasing skin tones and stunning capability for HDR workflows. Versatile recording formats, including efficient ProRes and uncompressed, unencrypted ARRIRAW up to 150 fps, encompass all on-set workflow requirements.
                        </p>
                        <a href="#" class="btn btn-secondary">Tell me more!</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4">Best renters</h2>

        <div class="row mt-5">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Joshua Kaminsky</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Joshua Kaminsky's Avatar" class="float-left mr-3">
                            <p>Director of Photography for more than 17 years</p>
                            <a href="#" class="btn btn-success float-right">Know him</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Joshua Kaminsky</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Joshua Kaminsky's Avatar" class="float-left mr-3">
                            <p>Director of Photography for more than 17 years</p>
                            <a href="#" class="btn btn-success float-right">Know him</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}